
header{
    display: flex;
    justify-content: flex-end;
}

header h1 {
   
    text-align: right;
}


body{
    background-image: linear-gradient(to bottom right, #FFEBAC, #D4D0C5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(99, 96, 96);
    display: flex;
    flex-direction: column;
    
    margin: 0px;
    z-index: 0;
    
}

.overlay{
    padding-left: 4%;
    padding-right: 4%;
    background-image: url("\treeback.jpg");
   
    z-index: 1;
    /* parrallax */
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    
}

.htmllogo{
    width: 300px;
}

.contact{
    
    
}
